@import "tailwindcss";

body {
  background: #ededed;
  color: #0a0a0a;
}

.scroll-hidden::-webkit-scrollbar {
  display: none; 
}

.scroll-hidden {
  -ms-overflow-style: none;  
  scrollbar-width: none;   
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
